<ion-view view-title="KMITL LIB">
<ion-nav-buttons side="right">
   <div class="buttons">
        <button class="button button-icon ion-filing" ng-click="popover.show($event)">
        </button>
      </div>
</ion-nav-buttons>
  <ion-content >
    <ion-list>
<!-- Image Template -->
  <div class    = "item" >
  <button class = "button button-energized">ข่าวสารงานไอที</button>
  <div class    = "item item-container" ng-repeat="test in it">
  <a href="#/app/content">
  <div class    = "cover-image module" ng-style="{'background-image'           : 'url(' + test.src + ')'}" >
  <header>
   <p>
  <span class   = "head-content-image">{{test.title}}</span> <br>
  <span class   = "sub-content">{{test.content}}</span>
  </p>
  </header>
  </div>
  </a>
      </div>
    </div>
  </div>
  </div>
</ion-list>
</ion-content>
</ion-view>
