<ion-view view-title="Messages">
  <ion-content  >
  	<div class="item image-head-news" id="h123">
  	<img src="./img/test.png">
  	</div>
 <!--   	<div id="the-image-id" class="elastic-image" style="background-image: url('./img/test.png')"></div> -->
	
<div class="the-content">
		<h2 class="h2-message">สํานักหอสมุดกลาง สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</h2><span class="item-note email-text">
              ข่าวทั่วไป<br>
              Thu 26/10/2016 07:26 PM
            </span>  
		<p class="p-h">ที่ตั้ง</p>
		<p>อาคารเฉลิมพระเกียรติ สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
เลขที่ 1 ซอยฉลองกรุง 1 ถนนฉลองกรุง แขวงลาดกระบัง เขตลาดกระบัง กรุงเทพฯ 10520
โทรศัพท์ 0 2329 8556 โทรสาร 0 2329 8557 </p>
</div>
  </ion-content>
</ion-view>
