<ion-view view-title="KMITL LIB">
<ion-nav-buttons side="right">
   <div class="buttons searchIcon button" ng-click="popover.show($event)">
<!--         <button class="button button-icon ion-filing" ng-click="popover.show($event)"> -->
        </button>
      </div>
</ion-nav-buttons>
  <ion-content >
    <ion-list>
<!-- Image Template -->
  <div class    = "item" >
  <button class = "button button-royal">CNN</button>
  <div class    = "item item-container" ng-repeat="test in NewsCnn">
  <!-- <a href="#/app/new/{{test.$$hashKey}}"> -->
  <!-- <a ng-href="test.href">{{test.title}}> -->
  <a href="#/app/detailsCNN/{{test.$$hashKey}}">
  <!-- <a ui-sref="CNN({ newID: test.$$hashKey})"> -->
  <div class    = "cover-image module" ng-style="{'background-image'           : 'url(' + test.urlToImage + ')'}" >
  <header>
   <p>
  <span class   = "head-content-image">{{test.title}}</span> <br>
  </p>
  </header>
  </div>
  </a>
      </div>
    </div>
  </div>
  </div>
</ion-list>
</ion-content>
</ion-view>
