<!--SCROLL-->
<ion-view view-title="KMITL LIB" onscroll="on">
<ion-nav-buttons side="right">
   <div class="buttons searchIcon button" ng-click="popover.show($event)">
<!--         <button class="button button-icon ion-filing" ng-click="popover.show($event)">
        </button> -->
      </div>
</ion-nav-buttons>

  <ion-content scroll="true">
    <ion-list>


<!-- <ion-slide-box on-slide-changed="slideHasChanged($index)"  >
  <ion-slide style="width:300px;height:300px;margin:auto;display:block" >
    <div class="box blue"><h1>BLUE</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow"><h1>YELLOW</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><h1>PINK</h1></div>
  </ion-slide>
</ion-slide-box> -->

  <ion-slide-box does-continue="true" auto-play="true" show-pager="true" slide-interval="4000"  auto-play="true" >
    <ion-slide  ng-repeat="image in images" does-continue="true" show-pager="true" >
     <a href="#/app/content">  <img ng-src="{{image.src}}" alt="{{image.alt}}"
     style="width:100%;height:200px;margin:auto;display:block;" ></a>
      </ion-slide>
  </ion-slide-box>

<!-- CSS class="allbk"  -->
<!--   <ion-item ng-repeat="test in playlists">
      <div class="card">
      <div class="item item-divider" >
            {{test.title}}
</div>
      <ion-item href="#/app/playlists/{{playlist.id}}">
        <div class="item item-text-wrap" >
        <img  src="{{test.src}}" alt="{{test.alt}}">
</div>
</ion-item>
      <div class="item item-divider">
         {{test.content}}
</div>
</ion-item> -->

<!-- Image Template -->

<!--   <div class    = "item" >
  <a href="#/app/new">
  <button class = "button button-royal">ข่าวทั่วไป</button>
  <div class    = "item item-container" ng-repeat="test in playlists | limitTo : 3" >
  </a>
  <a href="#/app/content">
  <div class    = "cover-image module" ng-style="{'background-image'           : 'url(' + test.src + ')'}" >
  <header>
   <p>
  <span class   = "head-content-image" >{{test.title}}</span> <br>
  </p>
  </header>

  </div>
</a>
      </div>
    </div>
  </div>

  <div class    = "item">
  <a href="#/app/lib" >
  <button class = "button button-calm">ข่าวสำนักหอสมุดกลาง</button>
  <div class    = "item item-container" ng-repeat="test in playlists | limitTo : 3" >
  </a>
    <a href="#/app/content">
  <div class    = "cover-image module" ng-style="{'background-image'           : 'url(' + test.src + ')'}" >
  <header >
   <p>
  <span class   = "head-content-image">{{test.title}}</span> <br>
  </p>
  </header>
  </div>
  </a></div>
      </div>
    </div>
  </div>


  <div class    = "item" >
   <a href="#/app/it">
  <button class = "button button-energized">ข่าวสารงานไอที</button>
  <div class    = "item item-container" ng-repeat="test in playlists | limitTo : 3">
  </a>
    <a href="#/app/content">
  <div class    = "cover-image module" ng-style="{'background-image': 'url(' + test.src + ')'}" >
  <header>
   <p>
  <span class   = "head-content-image">{{test.title}}</span> <br>
  </p>
  </header>
  </div>
  </a>
      </div>
    </div>
  </div> -->





<!-- TEST NEWS -->
  <div class    = "item" >
  <a href="#/app/new">
  <button class = "button button-royal">CNN</button>
  <div class    = "item item-container" ng-repeat="test in NewsCnn | limitTo : 3" >
  </a>
  <a href="#/app/content">
  <div class    = "cover-image module" ng-style="{'background-image': 'url(' + test.image + ')'}" >
<!--   <a href="#/app/playlists/{{test.id}}"></a> -->
  <header>
   <p>
  <span class   = "head-content-image" >{{test.title}}</span> <br>
  <!-- <span class   = "sub-content">{{test.content}}</span> -->
  </p>
  </header>

  </div>
</a>
      </div>
    </div>
  </div>

  <div class    = "item">
  <a href="#/app/lib" >
  <button class = "button button-calm">BBC</button>
  <div class    = "item item-container" ng-repeat="test in NewsBbc | limitTo : 3" >
  </a>
    <a href="#/app/content">
  <div class    = "cover-image module" ng-style="{'background-image'           : 'url(' + test.urlToImage + ')'}" >
  <header >
   <p>
  <span class   = "head-content-image">{{test.title}}</span> <br>
  <!-- <span class   = "sub-content">{{test.content}}</span> -->
  </p>
  </header>
  </div>
  </a></div>
      </div>
    </div>
  </div>


  <div class    = "item" >
   <a href="#/app/it">
  <button class = "button button-energized">ESPN</button>
  <div class    = "item item-container" ng-repeat="test in NewsEspn | limitTo : 3">
  </a>
    <a href="#/app/content">
  <div class    = "cover-image module" ng-style="{'background-image': 'url(' + test.urlToImage + ')'}" >
  <header>
   <p>
  <span class   = "head-content-image">{{test.title}}</span> <br>
  <!-- <span class   = "sub-content">{{test.content}}</span> -->
  </p>
  </header>
  </div>
  </a>
      </div>
    </div>
  </div>


<!-- test fleax box  -->
<!--  <ion-list scroll="false">
        <ion-item ng-repeat="test in playlists"
                  item="brand" >
                  <ion-scroll direction="x">
                  <div style='display: inline-block; margin: 10px;' item="app">
               {{test.title}}
</div>
</ion-scroll>
      </ion-list> -->

<!-- TEST API" -->
<!--   <ion-item ng-repeat="datas in datat"  >
      <div class="card">
      <div class="item item-divider" >
            {{datas.data.id}}
</div>
      <ion-item href="#/app/playlists/{{playlist.id}}">
        <div class="item item-text-wrap" > -->
        <!-- <img  src="{{datas.full_picture}}">
</div>
</ion-item>
      <div class="item item-divider">
         {{datas.message}}
</div>
</ion-item> -->





<!-- <ion-slide-box  >
<ion-slide class="padding" ng-repeat="playlist in playlists">
<div class="row" >
  <div  style="background-image: url('{{playlist.src}}'); width:200px; background-size: cover; background-repeat: no-repeat; height:100px; display:block;">{{playlist.content}}</div>
</div>
</ion-slide>
</ion-slide-box> -->






</ion-list>
</ion-content>
</ion-view>
