<ion-view view-title="KMITL LIB">
<ion-nav-buttons side="right">
   <div class="buttons searchIcon button" ng-click="popover.show($event)">
      </div>
</ion-nav-buttons>

  <ion-content>
    <ion-list>

  <ion-slide-box does-continue="true" auto-play="true" show-pager="true" slide-interval="4000"  auto-play="true" >
    <ion-slide  ng-repeat="image in images" does-continue="true" show-pager="true" >
     <a href="#/app/content">  <img ng-src="{{image.src}}" alt="{{image.alt}}" 
     style="width:100%;height:200px;margin:auto;display:block;" ></a>
      </ion-slide>
  </ion-slide-box>

<!-- TEST IONIC CARD TEMPLATE  -->
<!--   <ion-item ng-repeat="test in playlists">
      <div class="card">
      <div class="item item-divider" >
            {{test.title}}
</div>
      <ion-item href="#/app/playlists/{{playlist.id}}">
        <div class="item item-text-wrap" >
        <img  src="{{test.src}}" alt="{{test.alt}}">
</div>
</ion-item>
      <div class="item item-divider">
         {{test.content}}
</div>
</ion-item> -->

<!-- Image Template -->

  <div class    = "item" >
  <a href="#/app/new">
  <button class = "button button-royal">ข่าวทั่วไป</button>
  <div class    = "item item-container" ng-repeat="test in playlists | limitTo : 3" >
  </a>
  <a href="#/app/content">
  <div class    = "cover-image module" ng-style="{'background-image'           : 'url(' + test.src + ')'}" >
  <header>
   <p>
  <span class   = "head-content-image" >{{test.title}}</span> <br>
  </p>
  </header>

  </div>
</a>
      </div>
    </div>
  </div>

  <div class    = "item">
  <a href="#/app/lib" >
  <button class = "button button-calm">ข่าวสำนักหอสมุดกลาง</button>
  <div class    = "item item-container" ng-repeat="test in playlists | limitTo : 3" >
  </a>
    <a href="#/app/content">
  <div class    = "cover-image module" ng-style="{'background-image'           : 'url(' + test.src + ')'}" >
  <header >
   <p>
  <span class   = "head-content-image">{{test.title}}</span> <br>
  </p>
  </header>
  </div>
  </a></div>
      </div>
    </div>
  </div>
 

  <div class    = "item" >
   <a href="#/app/it">
  <button class = "button button-energized">ข่าวสารงานไอที</button>
  <div class    = "item item-container" ng-repeat="test in playlists | limitTo : 3">
  </a>
    <a href="#/app/content">
  <div class    = "cover-image module" ng-style="{'background-image': 'url(' + test.src + ')'}" >
  <header>
   <p>
  <span class   = "head-content-image">{{test.title}}</span> <br>
  </p>
  </header>
  </div>
  </a>
      </div>
    </div>
  </div>

<!-- TEST API" -->
<!--   <ion-item ng-repeat="test1234 in datat | limitTo : 3" >
      <div class="card">
      <div class="item item-divider">
            {{test1234.created_time}}
</div>
      <ion-item href="#/app/playlists/{{playlist.id}}">
        <div class="item item-text-wrap" >
        <img  src="{{test1234.full_picture}}">
</div>
</ion-item>
      <div class="item item-divider">
         {{test1234.message}}
</div>
</ion-item> -->

<!-- TEST API" -->
<!--   <div class    = "item" >
  <a href="#/app/new">
  <button class = "button button-royal">TEST API</button>
  <div class    = "item item-container" ng-repeat="test in datat" >
  </a>
  <a href="#/app/content">
  <div class    = "cover-image module" ng-style="{'background-image' : 'url(' + test.full_picture + ')'}" >
  <header>
   <p>
  <span class   = "head-content-image" >{{test.message}}</span> <br>
  </p>
  </header>
  </div>
</a>
      </div> -->

      
    </div>
  </div>
</ion-list>
</ion-content>
</ion-view>
