<ion-view view-title="NEWS">
  <ion-content class="news">
  	<div class="head-news" >
  	<img src="./svg/news1.png" class="image-head-news">
  	</div>
 <!--   	<div id="the-image-id" class="elastic-image" style="background-image: url('./img/test.png')"></div> -->
	
<div class="the-content">
		<h2 class="h2-message">สํานักหอสมุดกลางเปดขยายเวลาใหบริการชวงกอนสอบ</h2><span class="item-note email-text">
              ข่าวทั่วไป<br>
              Thu 26/10/2016 07:26 PM
            </span>  
            
		<p class="p-h">ที่ตั้ง</p>
		<p class="p-subhead">สํานักหอสมุดกลางเปดขยายเวลาใหบริการชวงกอนสอบ
บริเวณพื้นที่นั่งอาน อาคารใหมชั้น 1, โถงวารสารชั้น 1, ชั้นลอย
ตลอด 24 ชั่วโมง ระหวางวันที่ 12 - 24 กันยายน 2559</p>
</div>
  </ion-content>
</ion-view>
