<ion-popover-view id="ul-dropdown" side="right">
        <ion-content >
  <ul class="list" >
          <li class="item item-toggle">
            <span class="text-dropdown"> ข่าวเด่น </span>
             <label class="toggle toggle-balanced">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <!-- <hr> -->
          <li class="item item-toggle">
            <span class="text-dropdown"> ข่าวล่าสุด
         </span>    
         <label class="toggle toggle-balanced">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <!-- <hr> -->
          <li class="item item-toggle">
            <span class="text-dropdown"> ข่าวประกาศทั่วไป
         </span>          
            <label class="toggle toggle-balanced">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <!-- <hr> -->
          <li class="item item-toggle">
            <span class="text-dropdown"> ข่าวสำนักหอสมุดกลาง
          </span>             
              <label class="toggle toggle-balanced">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <!-- <hr> -->
           <li class="item item-toggle">
            <span class="text-dropdown"> ข่าวสารงานไอที
               </span>        
              <label class="toggle toggle-balanced">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          </div>
        </ion-content>
      </ion-popover-view>