<ion-popover-view id="ul-dropdown-new" side="right">
        <ion-content >
  <ul class="list" >
          <li class="item item-toggle new">
            <span class="text-dropdown"> ข่าวเด่น </span>
             <label class="toggle toggle-balanced">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <!-- <hr> -->
          <li class="item item-toggle new">
            <span class="text-dropdown"> ข่าวล่าสุด
         </span>    
         <label class="toggle toggle-balanced">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          </div>
        </ion-content>
      </ion-popover-view>